# Docker
USER_ID=1000
GROUP_ID=1000
APP_PORT=8081
MYSQL_PORT=3306

# Database
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=prestashop
MYSQL_USER=ps_user
MYSQL_PASSWORD=ps_password

# PrestaShop download URL (used by setup.sh)
# Find versions at: https://prestashop.com/versions/
PS_DOWNLOAD_URL=https://assets.prestashop3.com/dst/edition/corporate/9.0.2-2.1/prestashop_edition_classic_version_9.0.2-2.1.zip

# Cron security token (used if cron container is enabled)
CRON_TOKEN=change_me_to_random_string
